In [1]:
import pandas as pd

In [19]:
# main = pd.read_csv('Netea_impaired_combat_corrected_data.csv').T
# main = pd.read_csv('Khatri_combat_corrected_data.csv').T

main = pd.read_csv('Netea_balanced_combat_corrected_data.csv').T




# main=pd.read_csv('main.csv')
main = main.rename(columns=main.iloc[0]).drop(main.index[0])

meta = pd.read_csv('meta.csv',index_col=0)

In [20]:
main.shape

(1274, 194)

In [21]:
main.head()

,ABCE1,AEBP2,ALG8,ATR,BCAS2,BTBD1,BTF3L4,BUB3,BZW2,C1QBP,...,ZFP1,ZHX1,ZMYM4,ZNF14,ZNF227,ZNF432,ZNF559,ZNF567,ZNF75A,ZZZ3
CAP0001,5.770311,4.58961,5.652066,3.353692,4.284542,5.775141,6.736516,5.665864,6.787793,7.921607,...,4.000293,4.18044,5.688253,6.492971,5.059673,4.155566,5.319324,3.188752,5.539237,5.376234
CAP0002,5.533009,4.287022,5.273277,3.790109,4.702455,5.760993,5.186812,5.436241,6.230216,7.538863,...,3.780165,4.292046,4.38135,7.843215,4.518375,3.471271,4.040525,2.591724,5.180422,4.868028
CAP0003,5.695098,5.181174,5.882368,3.616235,4.164561,5.592875,5.937123,5.918471,6.309521,7.661305,...,2.117659,3.882586,5.544296,6.85042,4.895723,4.68541,5.318127,4.562189,5.528094,5.217875
CAP0004,6.198338,5.296979,6.007996,3.847902,5.057245,5.960527,6.407928,6.374387,6.777255,7.987149,...,3.591091,4.924397,5.948193,7.185452,5.226771,3.840383,5.871458,4.114712,4.457478,5.559887
CAP0005,4.393348,5.133299,5.112961,2.570163,5.432136,5.673157,6.683321,4.896105,6.05443,7.064439,...,3.287139,3.775436,4.909883,6.948592,4.233512,4.323946,5.239863,3.363389,5.0194,4.329254

In [15]:
meta.shape

(1290, 3)

In [16]:
meta.head()

             Age  Gender  Mortality
Sample_Name
CAP0001       70       0          1
CAP0002       64       0          0
CAP0003       47       0          0
CAP0004       71       1          0
CAP0005       45       0          0

In [22]:
data= pd.merge(main,meta,left_index=True, right_index=True, how='left')
data.to_csv('Netea_balanced_combat_corrected_data_with_meta.csv', index=False)

In [23]:
data=pd.read_csv("Netea_balanced_combat_corrected_data_with_meta.csv")
data.shape

(1274, 197)